<!-- Point Grey Camera -->

<launch>
  <arg name = "camera" default = "pointGrey2000"/>
  <node name="camera1394_node" pkg="camera1394" type="camera1394_node">
    <rosparam file = "$(arg camera).yaml"/>
  </node>  
  
  <node name="coax_server" pkg="coax_server" type="coax_server" args="/dev/ttyS0"></node>
</launch>
