<launch>

    <node pkg="coax_server"
          name="coax"
          type="coax_server"
	  output="screen"
          args="/dev/ttyS0">
      <remap from="/coax_server/state" to="/state"/>

      <remap from="/coax_server/control" to="/control"/>
      <remap from="/coax_server/rawcontrol" to="/rawcontrol"/>

      <remap from="/coax_server/reach_nav_state" to="/reach_nav_state"/>
      <remap from="/coax_server/configure_comm" to="/configure_comm"/>
      <remap from="/coax_server/set_timeout" to="/set_timeout"/>
    </node>

</launch>
