<!-- Point Grey Camera -->

<launch>
  <arg name = "camera" default = "pointGrey2001"/>
  <node name="camera1394_node" pkg="camera1394" type="camera1394_node">
    <rosparam file = "$(arg_camera).yaml"/>
  </node>  

<!-- Rosbag Record data (vicon and camera) -->
  <arg name="vicon" default="/vicon/data"
  <node name="rosbag_record" pkg="rosbag" args="record -o /home/gumros/brad_calib.bag /camera/image_raw $(arg_vicon)"/>
</launch>

